# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Exclude images globally, but allow assets folder images
*.jpg
*.png
*.svg

# Allow assets folder
!assets/
!assets/*.jpg
!assets/*.png
!assets/*.svg
# Ignore everything in the assets folder except its contents
!src/assets/
!src/assets/**/*




# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
