/* MyWork Section */
.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
    color: #fff;
  }
  
  .title-box {
    text-align: center;
  }
  
  .title-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .title-box img {
    width: 100px;
  }
  
  /* Container */
  .mywork-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  
  /* Card */
  .card {
    background: linear-gradient(145deg, #1a1a2e, #16213e);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  }
  
  /* Card Image */
  .card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid #ff00ff;
  }
  
  /* Card Body */
  .card-body {
    padding: 15px;
  }
  
  /* Card Header */
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0;
    background: linear-gradient(270deg, #de8808 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card-icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #e0e0e0;
  }
  
  .card-tech {
    font-size: 0.7rem;
    color: #fff;
    background: #111;
    opacity: 0.5;
    padding: 10px;
    border-radius: 8px;
    margin-top: 7px;
  }
  
  .mywork-showmore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #b415ff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    /* color: #ff00ff; */
    background: #1a1a2e;
  }
  
  .mywork-showmore img {
    width: 25px;
  }
  
  .mywork-showmore:hover {
    gap: 20px;
    background: linear-gradient(270deg, #de8808 10%, #b415ff 100%);

    color: #fff;
    box-shadow: 0 6px 20px rgba(255, 0, 255, 0.4);
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .mywork {
      gap: 50px;
      margin: 50px 6%;
      align-items: center;
    }
  
    .mywork-container {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .mywork-showmore {
      padding: 10px 20px;
      font-size: 1rem;
      gap: 10px;
    }
    .card-tech{
      font-size: 9px;
      
    }
  }
  